@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/* GENERALS */
html {
	scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    /* color: #302F2F; */
  }
  html, 
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
}

a {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.container {
  margin: 0 auto;
  /* width: 95%; */
  max-width: 1240px;
  padding: 0 1em;
}

button {
  border: none;
  border-radius: 3px;
  padding: 16px;
}

h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;;
}

h2, h3, h4 {
  margin: 22px 0;
}

.bg-green, .bg-orange, .bg-brown, .bg-darkblue {
  color: white;
  border-radius: 20px;
  padding: 5px 0;
}

.bg-green {
  background-color: #8A9F98;
}

.bg-orange {
  background-color: #9F5E48;
}

.bg-brown {
  background-color: #a27933;
}

.bg-darkblue {
  background-color: #3D5C71;
}

/* NAVIGATION */
.mobile-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #000;
}

.mobile-nav-icons {
  display: flex;
  align-items: center;
  font-size: 30px;
}

.mobile-nav-icons #search {
  font-size: 23px;
  /* color: #747474;  */
  transform: rotate(90deg) !important;
}

.iconify {
  margin-left: 18px;
  color: white;
}

.iconify.cross {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: white;
  z-index: 2;
  visibility: hidden;
}

.menu {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1c3343;
  top:0;
  left: 0;
  z-index: 1;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.menu li {
  margin-bottom: 40px;
  font-size: 1.6em;
}

.menu li a {
  background-color: #3D5C71;
  padding: 15px 35px;
  border-radius: 3px;
}

.header-quote {
  position: relative;
}

.header-quote img{
  width: 100%;
  height: auto;
  filter: grayscale(20%);
}

.quote {
  position: absolute;
  width: 85%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  text-align: center;
  color: white;
  font-size: 1.5em;
}

.quote span {
  font-size: .7em;
  font-weight: 600;
}

/* What's MC */
.what-is-mc {
  text-align: center;
}

.bg-green, .bg-orange, .bg-brown, .bg-darkblue {
  font-size: 1.1em;
}

.what-is-mc p {
  padding: 10px 20px;
  /* margin-bottom: 10px; */
  font-size: 1.2em;
  border-radius: 60px;
  line-height: 1.6em;
}

.events {
  margin: 22px 0;
}

.events li {
  margin-bottom: 14px;
}

/* Retreats */
.retreats {
  position: relative;
  margin: 20px 0;
}

.retreats h3{
  text-align: center;
  font-size: 1.5em;
  font-weight: 300;
  color: white;
  margin: 0;
  margin-bottom: 28px;
}

.retreats button {
  display: block;
  border: none;
  border-radius: 3px;
  background-color: #1c3343;
  color: white;
  padding: 16px;
  font-size: 1.1em;
  transition: .2s;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.retreats button:hover {
  background-color: #0f1e29;
  cursor: pointer;
}

.retreats img {
  height: 100%;
}

.retreats-text {
  position: absolute;
  /* background-color: rgba(0, 0, 0, 0.5);
  height: 100%; */
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.retreats-filter {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0px;
  height: 100%;
  width: 100%;
}

/* Other resources */

.resource {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
  padding: 0 1em;
  text-align: center;
  margin-bottom: 16px;
}

.resource .iconify {
  margin: 0;
  font-size: 5em;
  margin-bottom: 22px;
}

.resource p {
  margin-bottom: 22px;
}

.resource button {
  padding: 5px 16px;
  background-color: #874833;
  color: white;
  border-radius: 16px;
  font-size: .8em;
  margin-bottom: 22px;
}

.bg-darkblue.resource button {
  background-color: #1d3b4f;
}

.bg-green.resource button {
  background-color: #5e726c;
}

/* Upcoming events */
.card {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #dcc7b3;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 3px;
}

.card-left {
  width: 50%;
}

.card p {
  /* background: #e7dfcf; */
  background-color: #ebd9c7;
  padding: 5px;
  text-align: center;
  font-size: .8em;
  margin-top: 10px;
  border-radius: 20px;
  color: #6b6559;
}

.card h4 {
  margin: 0;
  color: #6b6559;
}

.card button {
  padding: 10px 16px;
  background-color: #6b6559;
  color: white;
}

/* Instagram */
.instagram {
  text-align: center;
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1d3b4f;
  color: white;
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
  line-height: 2em;
}

footer ul.contact li {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer ul.social{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

footer .iconify {
  margin: 0;
}

.contact .iconify {
  font-size: 30px; 
  background-color: #172833; 
  padding: 7px; 
  color:white; 
  border-radius: 100%;
  margin-right: 5px;
}

.social .iconify {
  font-size: 40px; 
  background-color: #172833; 
  padding: 10px; 
  color:white; 
  border-radius: 5px;
}

footer section {
  padding-bottom: 1.2em;
}

footer a {
  color: #9daab3;
}